<!DOCTYPE html>
<html lang="en">
<head>
	<!--
	  (C) Copyright Pressparty 2009-2020 All Rights Reserved
 
	  Website Development and Maintenance
 
	    Marcus Povey Consulting
	    https://www.marcus-povey.co.uk/hire/
	-->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="copyright" content="Pressparty 2009-2020" />
	<meta name="robots" content="noimageindex" />
	<meta name="bitly-verification" content="6ea23ad60de9" />
	<link rel="shortcut icon" href="https://www.pressparty.com/favicon.ico" />
	<title>Taylor Momsen: "I'm actually quite shy and introverted": Pressparty</title>
	<meta property="og:title" content="Taylor Momsen: "I'm actually quite shy and introverted": Pressparty"/>

	<script type="text/javascript" src="https://www.pressparty.com/vendors/jquery/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="https://www.pressparty.com/vendors/jquery/jquery-ui-1.8.2.custom.min.js"></script>
	<script type="text/javascript" src="https://www.pressparty.com/vendors/jquery/jquery.form.js"></script>
	
	<script type="text/javascript" src="https://www.pressparty.com/assets/default/initialise_elgg/script.1590208070.js"></script>
	
	<!-- include the default css file -->
		<link rel="stylesheet" href="https://www.pressparty.com/assets/default/1590208070.css" type="text/css" />
	
	<link rel="stylesheet" href="https://www.pressparty.com/mod/pressparty_theme/vendor/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css" type="text/css" />

	<link rel="stylesheet" href="https://www.pressparty.com/mod/pressparty_theme/vendor/simplemde-markdown-editor-master/dist/simplemde.min.css">
		
	<link rel="apple-touch-icon" href="https://www.pressparty.com/_graphics/P02.jpg"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	
	<meta name="google-site-verification" content="HawniPT9I6i9sLg_OSoxpX2SDz1IgIw5XZXaslkQwKo" />
	
					
			    <style type="text/css">
			.weekday-only {
			    display: none;
			}
			
			div.main-item span.weekday-only {
			    display: block;
			}
		    </style>
		
		
		<link rel="alternate" type="application/rss+xml" title="RSS" href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/107570/?view=rss" />
		<link rel="alternate" type="application/odd+xml" title="OpenDD" href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/107570/?view=opendd" />
			<script type="text/javascript">
		 jQuery(document).ready(function($) {
		  $('a[rel*=facebox]').facebox()
		});
		</script>
<script language="javascript" type="text/javascript" src="https://www.pressparty.com/mod/mp3player/vendors/flashmp3player/swfobject.js" ></script> <meta name="description" content="Taylor Momsen has revealed that her character is actually quite "introverted".
The Pretty Reckless singer often cuts a confident figure on " />
<meta name="keywords" content="taylor momsen,the pretty reckless,pressparty,news,music,the,pretty,reckless" />
<meta name="canonical" content="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/107570/" />
<script language="javascript" type="text/javascript" src="https://www.pressparty.com/mod/sidebarmp3/vendors/ephonic/swfobject.js" ></script><meta property="og:type" content="website" />
<meta property="og:url" content="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/107570/" />
<meta property="og:image" content="https://www.pressparty.com/assets/epk/newsdesk/107570/postimg_1397812998" />
<meta property="og:site_name" content="Pressparty" />
<meta property="twitter:site" content="@pressparty" />
	<script type="text/javascript">
		jQuery(document).ready(function($) {
		});
	</script>
</head>

<body class="loggedout page_context_newsdesk">
	<!-- FB Docroot and SDK -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) {return;}
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	
	
	<div id="pressparty_page">
		
		 <div id="top_advertising">
		     <div id="top_advertising_inner">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>
											</td>
					<td>
						
					
					</td>
				</tr>
			</table>
		     </div>
		</div>
		
	    <div id="top-black-logo">
		<div id="top-black-logo-inner"><div id="logo"><a href="https://www.pressparty.com/"><img src="https://www.pressparty.com/mod/pressparty_theme/graphics/logo_hr.png" border="0" /></a></div>
</div>
	    </div>
		
		<div id="top_logo">
		    <div id="top_logo_inner">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td></td>
					<td>
						<div id="topnavblock">
							<div id="quote"><div class="quote">
	<a href="https://www.pressparty.com/pg/newsdesk/Lorde/view/213018/?isworld=y">	    "I want to hug you all" - Lorde	</a>	</div>
</div>
							<div id="topshareblock">
							</div>
							<div id="search">
<form id="searchform" action="https://www.pressparty.com/pg/search/" method="get">
	<p><input type="text" name="tag" value="Search" onclick="if (this.value=='Search') { this.value='' }" class="search_input" /><input type="submit" value="" class="search_button" /></p>
</form>
</div>
							<div id="topnav"><ul>
	<li class="first"><a href="https://www.pressparty.com/action/mobiletheme/toggle">Mobile Version</a></li>
	<li class="mid"><a href="https://www.pressparty.com/pg/newsdesk/?isworld=y">News</a></li>
	<li class="mid"><a href="https://www.pressparty.com/pg/pressreleases/?isworld=y">Press Releases</a></li>
        <li class="mid"><a href="https://www.pressparty.com/pg/interviews/?isworld=y">Interviews</a></li>
	
		
		
		<li class="mid"><a href="https://www.pressparty.com/pg/users/">Profiles</a></li>
        <li class="last"><a href="https://www.pressparty.com/pg/companies/">Industry</a></li>
	</ul>
</div>
						</div>
					</td>
				</tr>
			</table>
		    <div id="like">
			
		    </div>
		    		    </div>
		</div>
		
	    
		<div id="scrolling_news">   
		    <div id="scrolling_news_inner">
					    </div>
		</div>
		
				<div id="nav_spacer">
			<div id="shareblock"></div>
		</div>
			
		<div id="page_container">
			<div id="page_wrapper">
	
				<!-- display any system messages -->
					
				<!-- canvas -->
				<div id="layout_canvas">
				
					<!-- TODO: Logout box for logged in and administrator users -->
				
					<div id="pressparty_canvas">	
	<div id="pressparty_profile">
		<div id="pressparty_profile_main">
			<div id="pressparty_nav">
			    <div id="pressparty_nav_inner">
			<div id="top_horizontal_tabbed_nav">
	<ul>
		<li><a href="https://www.pressparty.com/">Home</a></li><li><a href="https://www.pressparty.com/action/mobiletheme/toggle">Mobile Version</a></li><li><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/newsdesk/">Newsdesk</a></li><li><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/pressreleases/">Press Releases</a></li>	</ul>
</div>			    </div>
			</div>
						<div id="pressparty_sub_nav">
			    <div id="pressparty_sub_nav_inner"><div id="submenu_horizontal_tabbed_nav">
	<ul>
		<li class="submenu-allsitepostings" ><a href="https://www.pressparty.com/pg/newsdesk/?isworld=y">All site postings</a></li><li class="submenu-archive" ><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/archive/">Archive</a></li><li class="submenu-previous" ><a href="https://www.pressparty.com/pg/newsdesk/londonnewsdesk/view/107655/">Previous</a></li><li class="submenu-next" ><a href="https://www.pressparty.com/pg/newsdesk/londonnewsdesk/view/105989/">Next</a></li>	</ul>
</div></div>
			</div>
				
		    
		    <div id="pressparty_profile_inner">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>
						<div id="pressparty_content_newsdesk"><div id="pressparty_content_pane">
	<div class="contentWrapper singleview">
	
	<div class="newsdesk_post  isnews">

		<div class="newsdesk_post_body newspost_body">
	
		
		
			
						
		    		    <div class="pressrelease-share">
			<div class="sharetweetdigg">
		
	
</div>
	
		    </div>
			
			<p class="strapline">
					Friday, April 18, 2014 5:16am ET					by <a href="https://www.pressparty.com/pg/profile/londonnewsdesk/" rel="author">Newsdesk</a> &nbsp; 
					<!-- display the comments link -->
				
							    	<br /><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/107570/">Comments (0)</a><br />
			    		    	
		    				</p>
			<!-- display tags -->
				<p class="tags"><a rel="tag" href="https://www.pressparty.com/tag/taylor+momsen">taylor momsen</a>, <a rel="tag" href="https://www.pressparty.com/tag/the+pretty+reckless">the pretty reckless</a>, <a rel="tag" href="https://www.pressparty.com/tag/pressparty">pressparty</a>, <a rel="tag" href="https://www.pressparty.com/tag/news">news</a>, <a rel="tag" href="https://www.pressparty.com/tag/music">music</a>, <a rel="tag" href="https://www.pressparty.com/tag/the">the</a>, <a rel="tag" href="https://www.pressparty.com/tag/pretty">pretty</a>, <a rel="tag" href="https://www.pressparty.com/tag/reckless">reckless</a></p>			<div class="clearfloat"></div>
			<div class="spacing"></div>
			
						
							
				
				<div class="spacing"></div>
				<h1 class="newsdesk_left">Taylor Momsen: "I'm actually quite shy and introverted"</h1>
								
								<div class="spacing"></div>
								
			<!-- display the actual post -->
				<div class="description">
				<p>Taylor Momsen has revealed that her character is actually quite "introverted".</p>
<p><a href="https://www.pressparty.com/pg/profile/ThePrettyReckless/">The Pretty Reckless</a> singer often cuts a confident figure on stage but she told Bang Showbiz that she tried to stay out of the limelight when living in New York.</p>
<p>She said: "I'm actually quite shy and introverted - I'm not one to go out much. I'll have a beer or something or a glass of wine.</p>
<p>"I'm a writer, I'm very neurotic, I like to be alone with my thoughts. Everyone in New York has the mentality of, 'Mind your own s**t, mind your own business', it's a little easier to get away with hiding.&nbsp;But every time I get to California, I'm like, 'Why don't I live here, the weather is amazing, everything is pretty'."</p>
<p><a href="https://www.pressparty.com/pg/profile/ThePrettyReckless/">The Pretty Reckless</a> meanwhile are due to play this year's Download Festival in Donington on June 15.</p>
<p>The group released their second album 'Going to Hell' earlier this year.</p>
<p>Watch <a href="https://www.pressparty.com/pg/profile/ThePrettyReckless/">The Pretty Reckless</a> in action below:</p>
<p>&nbsp;</p>
				</div>
								
						</div>
		
			
						
			<div class="embeds" id="embeds">
			<div class="video_embed youtube"><div class="videolist_video youtube">

    <iframe width="600" height="470" src="http://www.youtube.com/embed/rHBxJCq99jA?modestbranding=1" frameborder="0" allowfullscreen></iframe>
    
    </div></div><div class="video_embed youtube video_embed_2"><div class="videolist_video youtube">

    <iframe width="600" height="470" src="http://www.youtube.com/embed/bmtbg5b7_Aw?modestbranding=1" frameborder="0" allowfullscreen></iframe>
    
    </div></div><div class="video_embed youtube video_embed_3"><div class="videolist_video youtube">

    <iframe width="600" height="470" src="http://www.youtube.com/embed/txBfhpm1jI0?modestbranding=1" frameborder="0" allowfullscreen></iframe>
    
    </div></div><script>
    $(document).ready(function(){
	$('.pressrelease_body_version2 .description p:nth-child(2)').html("<div class=\"embeds-notice\" style=\"margin-top: 30px; margin-bottom: 30px; text-align: center; \">        <div style=\"max-width: 50%; margin-left: auto; margin-right: auto; padding: 20px; background-color: #000;\">	<a style=\"font-weight: bold; color: #FFF;\" href="http://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/107570/\&quot;#embeds\"">VIDEOS BELOW</a>    </div>    </div>" + $('.pressrelease_body_version2 .description p:nth-child(2)').html());
	$('.isnews .description p:nth-child(2)').html("<div class=\"embeds-notice\" style=\"margin-top: 30px; margin-bottom: 30px; text-align: center; \">        <div style=\"max-width: 50%; margin-left: auto; margin-right: auto; padding: 20px; background-color: #000;\">	<a style=\"font-weight: bold; color: #FFF;\" href="http://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/107570/\&quot;#embeds\"">VIDEOS BELOW</a>    </div>    </div>" + $('.isnews .description  p:nth-child(2)').html());
    });
</script>			</div>
						<div class="prevnextbar">
				<div class="prevnext">
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td>
				<div class="left">
<div class="morenextbutton previous "><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/107655/"><i class="fas fa-chevron-left"> </i> <span class="text">&nbsp;&nbsp;&nbsp;</span></a></div>				</div>
			</td>
			<td>
				<div class="right">
<div class="morenextbutton next"><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/105989/"><span class="text">&nbsp;&nbsp;&nbsp;</span> <i class="fas fa-chevron-right"> </i></a></div>				</div>
			</td>
		</tr>
	</table>
</div>			</div>
						
			<div class="clearfloat"></div>
		
			<div class="artistnews">
	<h1>Latest 10 The Pretty Reckless News Stories</h1>
	<div class="control">
	<table cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td valign="middle">
				<div class="leftscroll scroll">
					<img src="https://www.pressparty.com/mod/epk/graphics/leftbutton.jpg" id="leftscrollbutton" />
				</div>
			</td>
			<td>
				<div class="scroller">
					<div class="scrollinternal"  id="artistnews_scroller">
												<div class="story">
								<div class="picture"><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/161264/"><img src="https://www.pressparty.com/assets/usericon/londonnewsdesk/medium/1481911707.jpg" /></a>
								</div>
								<div class="title"><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/161264/">The Pretty Reckless' Taylor Momsen on touring lifestyle</a></div>
							</div>						
							<div class="story">
								<div class="picture"><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/160514/"><img src="https://www.pressparty.com/assets/usericon/londonnewsdesk/medium/1481911707.jpg" /></a>
								</div>
								<div class="title"><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/160514/">Taylor Momsen's The Pretty Reckless confirm 2017 UK tour</a></div>
							</div>						
							<div class="story">
								<div class="picture"><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/125939/"><img src="https://www.pressparty.com/assets/usericon/londonnewsdesk/medium/1481911707.jpg" /></a>
								</div>
								<div class="title"><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/125939/">Taylor Momsen unsure if The Pretty Reckless acoustic album will happen</a></div>
							</div>						
							<div class="story">
								<div class="picture"><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/114428/"><img src="https://www.pressparty.com/assets/usericon/londonnewsdesk/medium/1481911707.jpg" /></a>
								</div>
								<div class="title"><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/114428/">The Pretty Reckless make US chart history</a></div>
							</div>						
							<div class="story">
								<div class="picture"><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/111977/"><img src="https://www.pressparty.com/assets/usericon/londonnewsdesk/medium/1481911707.jpg" /></a>
								</div>
								<div class="title"><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/111977/">The Pretty Reckless announce UK tour</a></div>
							</div>						
							<div class="story">
								<div class="picture"><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/111023/"><img src="https://www.pressparty.com/assets/usericon/londonnewsdesk/medium/1481911707.jpg" /></a>
								</div>
								<div class="title"><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/111023/">The Pretty Reckless unveil 'Messed Up World' video</a></div>
							</div>						
							<div class="story">
								<div class="picture"><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/109912/"><img src="https://www.pressparty.com/assets/usericon/londonnewsdesk/medium/1481911707.jpg" /></a>
								</div>
								<div class="title"><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/109912/">The Pretty Reckless tease new video</a></div>
							</div>						
							<div class="story">
								<div class="picture"><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/109143/"><img src="https://www.pressparty.com/assets/usericon/londonnewsdesk/medium/1481911707.jpg" /></a>
								</div>
								<div class="title"><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/109143/">Taylor Momsen on 'Going To Hell' album: "There are not a lot of bells and whistles on it"</a></div>
							</div>						
							<div class="story">
								<div class="picture"><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/107655/"><img src="https://www.pressparty.com/assets/usericon/londonnewsdesk/medium/1481911707.jpg" /></a>
								</div>
								<div class="title"><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/107655/">Taylor Momsen says her parents don't care about her getting naked</a></div>
							</div>						
							<div class="story">
								<div class="picture"><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/107570/"><img src="https://www.pressparty.com/assets/usericon/londonnewsdesk/medium/1481911707.jpg" /></a>
								</div>
								<div class="title"><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/107570/">Taylor Momsen: "I'm actually quite shy and introverted"</a></div>
							</div>						
					    <div class="story">
						<div class="morenewsblog">
						    <a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/">More news...</a>
						</div>
					    </div>
					</div>
				</div>
			</td>
			<td valign="middle">
				<div class="rightscroll scroll">
					<img src="https://www.pressparty.com/mod/epk/graphics/rightbutton.jpg" id="rightscrollbutton" />
				</div>
			</td>
		</tr>
	</table>
	</div>
</div>
<script type="text/javascript">
<!--
		$('#rightscrollbutton').mousedown(function() {
		  leftinterval = setInterval(leftscroll, 100);
		}).mouseup(function() {
		  clearInterval(leftinterval);
		});
		
		
		
  		$('#leftscrollbutton').mousedown(function() {
		  rightinterval = setInterval(rightscroll, 100);
		}).mouseup(function() {
		  clearInterval(rightinterval);
		});
  		
  		function leftscroll() {
   			var pos;
   			pos = $('#artistnews_scroller').position().left;
   			width = $('#artistnews_scroller').width();
   			
   			if (pos>(0-(width-440))) {
   				pos-=20;
   				$('#artistnews_scroller').css({"left" : pos + "px"});
   			}
   			
  		}
  		
  		function rightscroll() {
   			var pos;
   			pos = $('#artistnews_scroller').position().left;
   			
   			if (pos<0) {
   				pos+=20;
   				$('#artistnews_scroller').css({"left" : pos + "px"});
   			}
  		}
//-->
</script>


			<div class="summary">
    <div class="icon">
	<a href="https://www.pressparty.com/pg/profile/ThePrettyReckless/"><img src="https://www.pressparty.com/assets/usericon/ThePrettyReckless/medium/1431356005.jpg" /></a>
    </div>
    <div class="details">
	<h1><a href="https://www.pressparty.com/pg/profile/ThePrettyReckless/">The Pretty Reckless: Profile Page</a></h1>

		   
	<div class="column left">
	    <div class="link"><a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/archive/"><span class="number">12</span> News Stories</a></div>
	    
	</div>

	<div class="column right">
	    
		</div>
	
	        </div>
    
</div>	
			
									
			<!-- display edit options if it is the  post owner -->
			<p class="options">
											</p>
		</div>
		
		
		
		
		</div>


		

		
		
<script src="https://connect.facebook.net/en_US/all.js#xfbml=1"></script>
<fb:comments href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/view/107570/"></fb:comments></div></div>
					</td>
					<td width="250">
						<div id="pressparty_content_sidebar">
                                                    
                                                        <div class="contextsidebar contextsidebar_global">
    <div id="pressparty_profile_status">
        	<div id="side_statusbox">
		<table cellspacing="0" width="100%">
			<tr>
				
				
				<td valign="top">
					<div id="side_statusbox_profileicon">
					<div class="usericon">
<div class="avatar_menu_button"><img src="https://www.pressparty.com/_graphics/spacer.gif" border="0" width="15px" height="15px" /></div>

	<div class="sub_menu">
		<a href="https://www.pressparty.com/pg/profile/ThePrettyReckless/"><h3>The Pretty Reckless</h3></a>
		
	<p class="user_menu_profile">
		<a href="https://www.pressparty.com/pg/profile/ThePrettyReckless">Profile</a>
	</p>
	
	<p class="user_menu_profile">
	    <a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless">Newsdesk</a>
	</p>
	
	<p class="user_menu_profile">
	    <a href="https://www.pressparty.com/pg/newsdesk/ThePrettyReckless/pressreleases/">Press Releases</a>
	</p>
	
<!--	<p class="user_menu_profile">
		<a href="https://www.pressparty.com/pg/epk/ThePrettyReckless/biography/">Biography</a>
	</p>

	<p class="user_menu_profile">
		<a href="https://www.pressparty.com/pg/epk/ThePrettyReckless/discography/">Discography</a>
	</p>-->

        
<!--	<p class="user_menu_profile">
		<a href="https://www.pressparty.com/pg/epk/ThePrettyReckless/presscoverage/">Press Coverage</a>
	</p>-->
	<!--	<p class="user_menu_profile">
		<a href="https://www.pressparty.com/pg/epk/ThePrettyReckless/upload/?subtype=file&md_type=simpletype&tag=image&search_viewtype=gallery">Photos</a>
	</p>-->
		
<!--	<p class="user_menu_profile">
		<a href="https://www.pressparty.com/pg/epk/ThePrettyReckless/promos/">Videos</a>
	</p>
	
	<p class="user_menu_profile">
		<a href="https://www.pressparty.com/pg/epk/ThePrettyReckless/upload/?subtype=file&md_type=simpletype&tag=audio">Music</a>
	</p>-->

        
	</div>	
	<a href="https://www.pressparty.com/pg/profile/ThePrettyReckless/" class="icon" ><img src="https://www.pressparty.com/assets/usericon/ThePrettyReckless/master/1431356005.jpg" border="0"  title="The Pretty Reckless"  /></a>
</div>
					</div>
										<div class="statusbox_profile_by">
						<a href="https://www.pressparty.com/pg/profile/londonnewsdesk/"><img src="https://www.pressparty.com/assets/usericon/londonnewsdesk/small/1481911707.jpg" /></a>
					</div>
									</td>
			</tr>
		</table>
		
	</div>
</div>

<div id="pressparty_profile_sidemenu_pane">
                </div></div>

<div class="contextsidebar contextsidebar_newsdesk">
    <div class="jointheparty">
	<div class="title"><h1>SHARE THIS</h1></div>
	<div class="links">
			    
	    <div class="linkgraphic button">
		<a href="https://twitter.com/pressparty" target="_blank"><img src="https://www.pressparty.com/mod/mobile_theme/graphics/tw.png" /></a>
	    </div>

	    <div class="linkgraphic button">
		<a href="https://facebook.com/pressparty" target="_blank"><img src="https://www.pressparty.com/mod/mobile_theme/graphics/fb.png" /></a>
	    </div>
	    <div class="linkgraphic button">
		<a href="mailto:contact@pressparty.com" target="_blank"><img src="https://www.pressparty.com/mod/mobile_theme/graphics/em.png" /></a>
	    </div>
	</div>
</div>
        


        								<div id="pressparty_profile_latestnews">
							
							<div class="latestnews_sidebar">
	    <div class="titlebit">
		    <h2>Latest news</h2>
		    	    </div>
	    <ul>
			    <li class="sidebarnewsitem first">
                                <div class="icon">
                                    <a href="https://www.pressparty.com/pg/newsdesk/ladygaga/view/213331/?isworld=y">
                                    <img src="https://www.pressparty.com/assets/epk/newsdesk/213331/1590162967" />
                                    </a>
                                </div>
    
                                <div class="title"><a href="https://www.pressparty.com/pg/newsdesk/ladygaga/view/213331/?isworld=y">Lady Gaga and Ariana Grande release highly anticipated new song 'Rain On Me'</a></div>
                                

			    </li>
			    <li class="sidebarnewsitem">
                                <div class="icon">
                                    <a href="https://www.pressparty.com/pg/newsdesk/lanadelrey/view/213138/?isworld=y">
                                    <img src="https://www.pressparty.com/assets/epk/newsdesk/213138/1590078191" />
                                    </a>
                                </div>
    
                                <div class="title"><a href="https://www.pressparty.com/pg/newsdesk/lanadelrey/view/213138/?isworld=y">Lana Del Rey confirms release date of "White Hot Forever"</a></div>
                                

			    </li>
			    <li class="sidebarnewsitem">
                                <div class="icon">
                                    <a href="https://www.pressparty.com/pg/newsdesk/LouisTomlinson/view/213046/?isworld=y">
                                    <img src="https://www.pressparty.com/assets/epk/newsdesk/213046/1590078224" />
                                    </a>
                                </div>
    
                                <div class="title"><a href="https://www.pressparty.com/pg/newsdesk/LouisTomlinson/view/213046/?isworld=y">Louis Tomlinson announces rescheduling of North American tour</a></div>
                                

			    </li>
			    <li class="sidebarnewsitem">
                                <div class="icon">
                                    <a href="https://www.pressparty.com/pg/newsdesk/Lorde/view/213018/?isworld=y">
                                    <img src="https://www.pressparty.com/assets/epk/newsdesk/213018/1589970408" />
                                    </a>
                                </div>
    
                                <div class="title"><a href="https://www.pressparty.com/pg/newsdesk/Lorde/view/213018/?isworld=y">NZ singer-songwriter Lorde working on third album</a></div>
                                

			    </li>
			    <li class="sidebarnewsitem">
                                <div class="icon">
                                    <a href="https://www.pressparty.com/pg/newsdesk/TXT/view/212890/?isworld=y">
                                    <img src="https://www.pressparty.com/assets/epk/newsdesk/212890/1589968786" />
                                    </a>
                                </div>
    
                                <div class="title"><a href="https://www.pressparty.com/pg/newsdesk/TXT/view/212890/?isworld=y">TXT's "Can't You See Me?" hits over 8 million YouTube views within a day of its release</a></div>
                                

			    </li>
			    <li class="sidebarnewsitem">
                                <div class="icon">
                                    <a href="https://www.pressparty.com/pg/newsdesk/BTS/view/212630/?isworld=y">
                                    <img src="https://www.pressparty.com/assets/epk/newsdesk/212630/1590138038" />
                                    </a>
                                </div>
    
                                <div class="title"><a href="https://www.pressparty.com/pg/newsdesk/BTS/view/212630/?isworld=y">Less than a month until BTS' 'Bang Bang Con'</a></div>
                                

			    </li>
			    <li class="sidebarnewsitem">
                                <div class="icon">
                                    <a href="https://www.pressparty.com/pg/newsdesk/LewisCapaldi/view/212631/?isworld=y">
                                    <img src="https://www.pressparty.com/assets/epk/newsdesk/212631/1589727512" />
                                    </a>
                                </div>
    
                                <div class="title"><a href="https://www.pressparty.com/pg/newsdesk/LewisCapaldi/view/212631/?isworld=y">Lewis Capaldi doing spin classes at home during self-isolation</a></div>
                                

			    </li>
			    <li class="sidebarnewsitem">
                                <div class="icon">
                                    <a href="https://www.pressparty.com/pg/newsdesk/jonasbrothers/view/212644/?isworld=y">
                                    <img src="https://www.pressparty.com/assets/epk/newsdesk/212644/1589727138" />
                                    </a>
                                </div>
    
                                <div class="title"><a href="https://www.pressparty.com/pg/newsdesk/jonasbrothers/view/212644/?isworld=y">Everything you need to know about Jonas Brothers' "XV"</a></div>
                                

			    </li>
			    <li class="sidebarnewsitem">
                                <div class="icon">
                                    <a href="https://www.pressparty.com/pg/newsdesk/CharliXCX/view/212508/?isworld=y">
                                    <img src="https://www.pressparty.com/assets/epk/newsdesk/212508/1589664308" />
                                    </a>
                                </div>
    
                                <div class="title"><a href="https://www.pressparty.com/pg/newsdesk/CharliXCX/view/212508/?isworld=y">Charli XCX's 'how i'm feeling now' traverses the full spectrum of emotions in lockdown</a></div>
                                

			    </li>
			    <li class="sidebarnewsitem">
                                <div class="icon">
                                    <a href="https://www.pressparty.com/pg/newsdesk/taylorswift/view/212322/?isworld=y">
                                    <img src="https://www.pressparty.com/assets/epk/newsdesk/212322/1589555504" />
                                    </a>
                                </div>
    
                                <div class="title"><a href="https://www.pressparty.com/pg/newsdesk/taylorswift/view/212322/?isworld=y">Exclusive Taylor Swift concert set to air on ABC this weekend</a></div>
                                

			    </li>
	    </ul>


	    <div class="morenewslink"><a href="https://www.pressparty.com/pg/newsdesk/">More News</a></div>
    </div>							
						</div>


        

        

        </div>
                                                            
						</div>
					</td>
				</tr>
			</table>
		    </div>
		</div>	
	</div>
</div>				
					<div class="clearfloat"></div>
					
				</div>
			</div>
		</div>
		<div id="about_pages">
					</div>
		
		<div id="navigation">
			<div id="sitemap">
	<table  cellpadding="0" cellspacing="0" border="0">
		<tr class="sitemap_title">
							<td class="sitemap_title sitemap_title_home">
					<ul>
						<li class="sitemap_title"><a class="sitemap_title" href="https://www.pressparty.com/">Home</a></li>
					 </ul>
				</td>	
								<td class="sitemap_title sitemap_title_myprofile">
					<ul>
						<li class="sitemap_title"><a class="sitemap_title" href="https://www.pressparty.com/">My Profile</a></li>
					 </ul>
				</td>	
						</tr>
		
		<tr class="sitemap_links">
							
				<td class="sitemap_links_column_1">
				<div class="sitemap_links_column sitemap_links_column_home">
					<ul>								<li class="sitemap_entity"><a class="sitemap_entity" href="mailto: contact@pressparty.com">Contact Us</a></li>
																<li class="sitemap_entity"><a class="sitemap_entity" href="mailto: advertising@pressparty.com">Advertising</a></li>
																<li class="sitemap_entity"><a class="sitemap_entity" href="mailto: pr@pressparty.com">Media Enquiries</a></li>
																<li class="sitemap_entity"><a class="sitemap_entity" href="https://www.pressparty.com/pg/static/about">About Page</a></li>
								
<li class="sitemap_entity"><a class="sitemap_entity" href="https://www.pressparty.com/pg/static/help">Help</li>
<li class="sitemap_entity"><a class="sitemap_entity" href="https://www.pressparty.com/pg/static/terms">Terms and Conditions</li>
<li class="sitemap_entity"><a class="sitemap_entity" href="https://www.pressparty.com/pg/static/privacy">Privacy</li>
<li class="sitemap_entity"><a class="sitemap_entity" href="https://www.pressparty.com/action/mobiletheme/toggle">Mobile Version</a></li>
</ul>
					</div>
					</td>	
								
				<td class="sitemap_links_column_2">
				<div class="sitemap_links_column sitemap_links_column_myprofile">
					<ul>								<li class="sitemap_entity"><a class="sitemap_entity" href="https://www.pressparty.com/pg/logon/">Log in</a></li>
																<li class="sitemap_entity"><a class="sitemap_entity" href="https://www.pressparty.com/pg/register/">Register</a></li>
								</ul>
					</div>
					</td>	
						</tr>
	</table>
</div>		</div>
	</div>
	
	
		<div id="bottombar">
    <div class="padding">
	<div class="bbarbit facebook">
	    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2FPressparty&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
	</div>

	<div class="bbarbit twitter">
	    <a href="https://twitter.com/pressparty" class="twitter-follow-button" data-show-count="false">Follow @pressparty</a>
	    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>

		<div class="bbarbit login">
	    <a href="https://www.pressparty.com/pg/logon/">Log in</a>
	</div>
	    </div>
</div>	<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15064020-1");
pageTracker._trackPageview();
} catch(err) {}</script>

<script type="text/javascript" src="https://www.pressparty.com/mod/pressparty_theme/vendor/moment.min.js"></script>
<script type="text/javascript" src="https://www.pressparty.com/mod/pressparty_theme/vendor/timeago.js-master/dist/timeago.min.js"></script>
<script type="text/javascript" src="https://www.pressparty.com/mod/pressparty_theme/vendor/simplemde-markdown-editor-master/dist/simplemde.min.js"></script>
<script>
$(document).ready(function(){
    
    //jQuery.timeago.settings.cutoff = 1000*60*60*24*30;
    //timeago().render($('.timeago-datetime'));
    
    /*$('.local-datetime').each(function() {
	
	var $this = $(this);
	var time = $this.attr("datetime");
	var localTime = moment.utc(time).local().format();
	
	$this.html(localTime);
	
    }); */
}); 
</script>    
</body>
</html>